<div
  class="{{if
      @leading
      'mdc-deprecated-list-item__graphic'
      'mdc-deprecated-list-item__meta'
    }}
    {{@class}}"
>
  <MaterialSwitch @checked={{@checked}} @onChange={{@onChange}} ...attributes />
</div>