<span class='mdc-deprecated-list-item__text {{@class}}' ...attributes>
  <span class='mdc-deprecated-list-item__primary-text'>
    {{yield to='primary'}}
  </span>
  <span class='mdc-deprecated-list-item__secondary-text'>
    {{yield to='secondary'}}
  </span>
</span>