<span class='mdc-text-field__resizer'>

  <textarea
    class='mdc-text-field__input {{@class}}'
    value={{@value}}
    ...attributes
    aria-labelledby='{{@guid}}-label'
      {{did-update this.updateLayout @value}}

  ></textarea>
</span>