$primary: #2196f3;
$secondary: #c5a6ff;

@import 'ember-material-components';

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

// start drawer/header
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
}

.mdc-top-app-bar {
  position: absolute;
}

.dummy-application {
  display: flex;
  height: 100vh;

  > *:last-child {
    background-color: #fafafa;
  }
}

.demo-title {
  width: 60em;
  margin: 2em auto 1em;
  font-weight: bold;
  padding: 1em 0;

  border-bottom: 1px solid #bdbdbd;
}

.demo-card {
  width: 60em;
  margin: 1em auto;
  overflow: hidden;
  padding: 1em;
  border: 1px solid #bdbdbd;
  background: white;
  box-sizing: border-box;

  &--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em;
    grid-gap: 1em;
  }

  &--material-list {
    padding: 0;

    .mdc-deprecated-list--avatar-list {
      .mdc-deprecated-list-item__graphic {
        color: white;
        background-color: #64b5f6;
      }
    }
  }

  &--text-field {
    .mdc-text-field {
      width: 100%;
    }
  }
}

.grid-item--1 {
  grid-column: span 1;
}
.grid-item--2 {
  grid-column: span 2;
}
.grid-item--3 {
  grid-column: span 3;
}
.grid-item--4 {
  grid-column: span 4;
}

.demo-checkbox,
.demo-radio-button {
  ul {
    list-style: none;
  }
}

.demo-switch {
  li {
    margin: 1em 0;
  }
}
