<div id="{{this.guid}}" class="mdc-tooltip" role="tooltip" aria-hidden="true" {{did-insert this.didInsert}}>
  <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">
    {{yield}}
  </div>
</div>