<div class='mdc-deprecated-list-group {{@class}}' ...attributes>
  {{yield
    (component 'material-list')
    (component 'material-list-group/header')
    (component 'material-list-group/divider')
  }}
</div>