<aside
  class="mdc-drawer
    {{if
      @modal
      'mdc-drawer--modal'
      'mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust'
    }}"
  {{did-insert this.didInsert}}
>
  <div class="mdc-drawer__content">
    <nav class="mdc-deprecated-list">
      {{yield (component 'material-list/item')}}
    </nav>
  </div>
</aside>

{{#if @modal}}
  <div class="mdc-drawer-scrim"></div>
{{/if}}