<div class="mdc-radio mdc-radio--touch {{@class}}">
  <input
    class="mdc-radio__native-control"
    type="radio"
    id="{{@guid}}"
    name="radios"
    ...attributes
  />
  <div class="mdc-radio__background">
    <div class="mdc-radio__outer-circle"></div>
    <div class="mdc-radio__inner-circle"></div>
  </div>
  <div class="mdc-radio__ripple"></div>
</div>