<li
  class='mdc-deprecated-list-item
    {{if @activated 'mdc-deprecated-list-item--activated'}}
    {{@class}}'
  ...attributes
  {{did-insert this.didInsert}}
>
  <span class='mdc-deprecated-list-item__ripple'></span>
  {{yield
    (hash
      checkbox=(component 'material-list/item/checkbox')
      radioButton=(component 'material-list/item/radio-button')
      switch=(component 'material-switch' class='mdc-deprecated-list-item__meta')
      text=(component 'material-list/item/text')
      icon=(component 'material-list/item/icon')
    )
  }}
</li>