<button
  class='mdc-button mdc-card__action mdc-card__action--button'
  ...attributes type="button"
>
  <div class='mdc-button__ripple'></div>
  <span class='mdc-button__label'>
    {{yield}}
  </span>
</button>