<nav class='mdc-deprecated-list {{@class}}' ...attributes>
  {{yield
    (component 'material-drawer/navigation/item')
    (component 'material-drawer/navigation/divider')
    (component 'material-drawer/navigation/subheader')
  }}
</nav>