<DocsHero
  class="docs-hero"
  @prefix="Plonquo"
  @heading="Ember Material Components"
  @byline="Wraps Google's Material Design Web Components with little fuss"
/>

<DocsDemo class="docs-introduction" as |demo|>
  <demo.example @name="my-demo.hbs">
    <p>
      The goal is to create an addon that makes it easy to use material design
      web components without too many restrictions. The addon is set up in such
      a way that you (almost) always have control over the element it generates.
      Add HTML attributes and event handlers as you please and feel free to use
      elements in any way that suits your application.
    </p>
    <br />
    <p>
      This extensive documentation tells you how to use the different components
      and if you want to know more about when to use which component for what,
      you can consult the Google's
      <a
        href="https://material-components.github.io/material-components-web-catalog/#/"
      >'Material Design for the Web'</a>-documentation.
    </p>
  </demo.example>
</DocsDemo>