<DocsHero
  class="docs-hero"
  @prefix="Plonquo"
  @heading="Ember Material Components"
  @byline="Wraps Google's Material Design Web Components with little fuss"
/>

<DocsDemo as |demo|>
  <demo.example @name="my-demo.hbs">
    <p>Make sure to read up on the DocsDemo component before building out this
      page.</p>
  </demo.example>
</DocsDemo>