<div class="demo-title">
  Demos
</div>
<div class="demo-card">
  <span>
    <MaterialIcon>
      favorite
    </MaterialIcon>
    <MaterialTooltip>
      Favorite
    </MaterialTooltip>
  </span>
  <span>
    <MaterialIcon>
      save
    </MaterialIcon>
    <MaterialTooltip>
      Save
    </MaterialTooltip>
  </span>
  <span>
    <MaterialIcon>
      remove
    </MaterialIcon>
    <MaterialTooltip>
      Remove
    </MaterialTooltip>
  </span>
</div>