<div class="demo-title">
  Demos
</div>
<div class="demo-card">
  <MaterialCard>
    <:title>
      Title
    </:title>
    <:subtitle>
      Subtitle
    </:subtitle>
    <:default>
      Content
    </:default>
    <:actions>
      <MaterialCard::ActionButton>
        Action 1
      </MaterialCard::ActionButton>
      <MaterialCard::ActionButton>
        Action 2
      </MaterialCard::ActionButton>
    </:actions>
  </MaterialCard>
</div>