<div class="demo-title">
  Demos
</div>
<div class="demo-card">
  <MaterialLinearProgress @indeterminate={{true}} />
  <br />
  <MaterialLinearProgress @progress={{0.5}} @buffer={{0.6}} />
  <br />
  <MaterialLinearProgress @progress={{1}} />
  <br />
</div>