<div class="demo-title">
  Tab bar
</div>
<div class="demo-card">
  <MaterialTabBar as |Button|>
    <Button as |item|>
      <item.icon>
        favorite
      </item.icon>
      <item.label>
        Tab 1
      </item.label>
    </Button>
    <Button @active={{true}} as |item|>
      <item.icon>
        favorite
      </item.icon>
      <item.label>
        Tab 1
      </item.label>
    </Button>
    <Button as |item|>
      <item.icon>
        favorite
      </item.icon>
      <item.label>
        Tab 1
      </item.label>
    </Button>
  </MaterialTabBar>
</div>