<div class="demo-title">
  Drawer
</div>
<div class="demo-card">
  <MaterialSwitch
    @value={{this.settings.materialDrawerModal}}
    @onChange={{this.onClick}}
  />
    <MaterialSwitch
    @value={{this.settings.materialDrawerModal}}
    @onChange={{this.onClick}}
  />
</div>
