<div class="demo-title">
  Demos
</div>
<div class="demo-card">
  <MaterialIconButton>
    star
  </MaterialIconButton>
  <MaterialIconButton @isToggleable={{true}} as |Icon1 Icon2|>
    <Icon1>
      star
    </Icon1>
    <Icon2>
      star_outline
    </Icon2>
  </MaterialIconButton>
  <MaterialIconButton @isToggleable={{true}} as |Icon1 Icon2|>
    <Icon1>
      pause
    </Icon1>
    <Icon2>
      play_arrow
    </Icon2>
  </MaterialIconButton>
</div>