<div class="demo-title">
  Radio buttons
</div>
<div class="demo-card">
  <span>
    <MaterialRadioButton @checked={{true}}>
      Radio Button
    </MaterialRadioButton>
    <MaterialRadioButton @checked={{false}}>
      Radio Button
    </MaterialRadioButton>
  </span>
  <MaterialRadioButton @checked={{true}} @disabled={{true}}>
    Disabled Radio
      Button
  </MaterialRadioButton>
</div>