<div class="demo-title">
  Demos
</div>
<div class="demo-card">
  <MaterialCircularProgress @indeterminate={{true}} />
  <MaterialCircularProgress @progress={{0.75}} />
  <MaterialCircularProgress @progress={{1}} />
</div>