<div class='demo-title'>
  Demos
</div>
<div class='demo-card demo-card--grid'>
  <MaterialButton>
    Button with tooltip
    <MaterialTooltip>
      Tooltip for the button
    </MaterialTooltip>
  </MaterialButton>
    <MaterialButton>
    Another button with tooltip
    <MaterialTooltip>
      Tooltip for the other button
    </MaterialTooltip>
  </MaterialButton>
</div>